<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>
    <mvc:default-servlet-handler/>
    <!--权限拦截器-->
    <mvc:interceptors>
        <!--校验是否已登录了店家管理系统的拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/shopadmin/**"/>
            <bean id="ShopInterceptor" class="ssm.wjx.interceptor.ShopInterceptor"/>
        </mvc:interceptor>
        <!--校验是否对该店铺有操作权限的拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/shopadmin/**"/>
            <!--shoplist page 排除展示店铺列表 第一个路由 第二个才是real url-->
            <mvc:exclude-mapping path="/shopadmin/shoplist"/>
            <mvc:exclude-mapping path="/shopadmin/getshoplist"/>
            <!--shopregister page-->
            <mvc:exclude-mapping path="/shopadmin/saveShopInfoToSession"/>
            <mvc:exclude-mapping path="/shopadmin/getshopinitinfo"/>
            <mvc:exclude-mapping path="/shopadmin/registershop"/>
            <mvc:exclude-mapping path="/shopadmin/shopoperation"/>
            <!--shopmanage page-->
            <mvc:exclude-mapping path="/shopadmin/shopmanagement"/>
            <mvc:exclude-mapping path="/shopadmin/getshopbyid"/>
            <bean id="ShopPermissionInterceptor" class="ssm.wjx.interceptor.ShopPermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <context:component-scan base-package="ssm.wjx.web"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/html/"/>
        <property name="suffix" value=".html"/>
    </bean>
    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="20971520"/>
        <property name="maxInMemorySize" value="20971520"/>
    </bean>
</beans>
